<div class="footer">
    <div class="btns">
        <iframe class="ghstar" src="https://ghbtns.com/github-btn.html?user=<%- githubUser %>&repo=<%- githubRepo %>&type=star&count=true" frameborder="0" scrolling="0" ></iframe>
        <iframe class="ghfork" src="https://ghbtns.com/github-btn.html?user=<%- githubUser %>&repo=<%- githubRepo %>&type=fork&count=true" frameborder="0" scrolling="0" ></iframe>
    </div>
    <div class="copyright">
        Android is a trademark of Google Inc.<br />
        © Copyright <%- copyrightYear %>, <%- copyrightHolder %>.
    </div>
</div>

<script src="<%- baseUrl %>/lib/jquery/dist/jquery.min.js"></script>
<script src="<%- baseUrl %>/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="<%- baseUrl %>/lib/highlightjs/highlight.pack.js"></script>
<script src="<%- baseUrl %>/js/main.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
