<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Language" content="en" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%- title %> | <%- title === name ? description : name %></title>
<meta name="description" content="<%- description %>" />
<meta name="robots" content="index" />
<meta property="og:type" content="<%- ogType %>" />
<meta property="og:site_name" content="<%- name %> | <%- description %>" />
<meta property="og:title" content="<%- title %> | <%- title === name ? description : name %>" />
<meta property="og:url" content="<%- ogUrl %>" />
<meta property="og:description" content="<%- description %>" />
<meta property="og:image" content="<%- baseUrl %>/thumbnail.png" />
<meta property="og:locale" content="en" />
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/lib/octicons/octicons/octicons.css" />
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/css/main.css" />
<!--[if lt IE 9]>
<script src="<%- baseUrl %>/lib/html5shiv/dist/html5shiv.min.js"></script>
<script src="<%- baseUrl %>/lib/respond-minmax/dest/respond.min.js"></script>
<![endif]-->
<link rel="apple-touch-icon" sizes="57x57" href="<%- baseUrl %>/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="<%- baseUrl %>/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="<%- baseUrl %>/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="<%- baseUrl %>/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="<%- baseUrl %>/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="<%- baseUrl %>/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="<%- baseUrl %>/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="<%- baseUrl %>/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="<%- baseUrl %>/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192"  href="<%- baseUrl %>/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="<%- baseUrl %>/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="<%- baseUrl %>/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="<%- baseUrl %>/favicon-16x16.png" />
<link rel="manifest" href="<%- baseUrl %>/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="<%- baseUrl %>/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />
<meta name="base" content="<%- baseUrl %>" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-62586232-1', 'auto');
  ga('send', 'pageview');
</script>
