<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%- title %> | <%- description %></title>
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/lib/components-font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/css/main.css" />
<x-meta name="base" value="<%- baseUrl %>" />
