<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%- title %> | <%- title === name ? description : name %></title>
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/lib/components-font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="<%- baseUrl %>/css/main.css" />
<link rel="apple-touch-icon" sizes="57x57" href="<%- baseUrl %>/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="<%- baseUrl %>/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="<%- baseUrl %>/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="<%- baseUrl %>/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="<%- baseUrl %>/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="<%- baseUrl %>/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="<%- baseUrl %>/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="<%- baseUrl %>/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="<%- baseUrl %>/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192"  href="<%- baseUrl %>/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="<%- baseUrl %>/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="<%- baseUrl %>/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="<%- baseUrl %>/favicon-16x16.png" />
<link rel="manifest" href="<%- baseUrl %>/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="<%- baseUrl %>/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />
<x-meta name="base" value="<%- baseUrl %>" />
